<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    body{
        margin:40px
        auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
        10px}h1,h2,h3{line-height:1.2}
    </style>
    <title>Upload Successful</title>
</head>

<body>
    <!-- <h1>File upload successful!</h1> -->
    <p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</p>
    <form action="/" method="get">
        <input type="submit" value="Go main page"
             name="Submit" id="frm1_submit" />
    </form>
</body>
